<% if params[:activate] %>
	<div class="page-header">
		<h1>Activar Servidor<small> <%= @server.name %></small></h1>
	</div>
	<%= render "activation" %>
<% else %>
	<div class="page-header">
		<h1>Editar Servidor<small> <%= @server.name %></small></h1>
	</div>
	<%= render "form" %>
<% end %>