<div class="page-header">
	<h1><%= @server.name %> <small><%= @server.ip_address %></small></h1>
</div>
<div class="new-resource">
	<%= activate_server_button(@server) %>
</div>
<div id="files">
</div>