<div class="alert alert-success">
	<h4 class="alert-heading">La sincronización se encuentra en ejecución</h4>
	<br>
	<div class="progress progress-striped">
		<div class="bar" style="width: <%= @job.progress %>"></div>
	</div>
</div>