<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para actualizar tu contraseña. Si tú no realizaste la solicitud, sólo ignora este correo.<br/>
</p>

<p><%= link_to 'Cambiar mi Contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Tu Contraseña no cambiará hasta que ingreses al link y la modifiques.</p>
